<h3><%=t("views.users.user")%></h3>
<% @user.photos.each do |p| %>
<p>
	<%=image_tag p.image_url %>
</p>
<% end %>
<p><%=t("views.users.user")%>: <%= @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
