<p id="notice"><%= notice %></p>

<p>
  <b>Indoor:</b>
  <%= @property.indoor %>
</p>

<p>
  <b>Area:</b>
  <%= @property.area %>
</p>

<p>
  <b>Owner:</b>
  <%= @property.owner %>
</p>

<p>
  <b>Owner status:</b>
  <%= @property.owner_status %>
</p>

<p>
  <b>Usage status:</b>
  <%= @property.usage_status %>
</p>


<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
